source/pages.jade
- var title= 'Список страниц'

doctype html
html(lang = "ru")
	head
		include /blocks/header-links.jade
	body
		include /blocks/header.jade
		.content
			.content__bg.top
			a.logo(href="" title="")
					img(src="/images/warface-logo.png" alt="")
			.container

				ul(style="padding-top: 60px; width: 80%; margin: 0 auto; min-height: 400px; display: block; list-style-type: decimal;")
					li(style="display:list-item;")
						a(href="warface.html" title="Warface")(style="color:#fff;")= 'Warface'
					
					li(style="display:list-item;")
						a(href="crossfire.html" title="Crossfire")(style="color:#fff;")= 'Crossfire'					
			include /blocks/footer.jade

static/pages.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width" name="viewport">
    <meta name="description" content="">
    <title>Список страниц</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="./js/jquery-1.11.3.min.js"></script>
  </head>
  <body><!-- BEGIN header -->
    <header class="clearfix">
      <div class="container">		<a href="" title="" class="menu mobile c-mobile-menu-link"><span class="sprite menu-btn"></span>Меню</a>
        <nav class="nav c-mobile-menu"><a href="#schedule" title="" class="nav__link c-link-anchor">Расписание</a><a href="#grid" title="" class="nav__link c-link-anchor">Сетка</a><a href="#video" title="" class="nav__link active c-link-anchor">Видео</a><a href="#news" title="" class="nav__link c-link-anchor">Новости</a><a href="#comands" title="" class="nav__link c-link-anchor">Команды</a><a href="#details" title="" class="nav__link c-link-anchor">Подробности</a></nav>
      </div>
    </header><!-- END header -->
    <div class="content">
      <div class="content__bg top"></div><a href="" title="" class="logo"><img src="/images/warface-logo.png" alt=""></a>
      <div class="container">
        <ul style="padding-top: 60px; width: 80%; margin: 0 auto; min-height: 400px; display: block; list-style-type: decimal;">
          <li style="display:list-item;"><a href="warface.html" title="Warface" style="color:#fff;">Warface</a></li>
          <li style="display:list-item;"><a href="crossfire.html" title="Crossfire" style="color:#fff;">Crossfire</a></li>
        </ul>
      </div><!-- BEGIN footer -->
      <footer class="footer"></footer>
      <script src="./js/script.js"></script>
    </div>
  </body>
</html>
