source/warface.jade
- var title= 'Список страниц'

doctype html
html(lang = "ru")
	head
		include ./blocks/header-links.jade
	body
		.pagewrap
			include ./blocks/header.jade
			.content
				.content__bg.top
					.mobile
						img(src="images/content/warface1.png" alt="")
				.content__bg.middle.desktop
				.content__bg.bottom.desktop
				a.logo(href="https://wf.mail.ru/" title="")
					img(src="images/warface-logo.png" alt="")
				.container
					.main-video.desktop.c-video
						iframe(width="886" height="498" src="https://www.youtube.com/embed/3f53Ch6s7iY" allowfullscreen)
					.infoblock.infoblock--text
						.infoblock__sub-title
							|Гранд-финал Warface Open Cup:
							br
							span
								|ArenaStars vs DNOgaming
						//		
							.infoblock__sub-title1
								|Описание турнира
							
							|UPD: на промке блоки надо будет расположить вертикально, а не горизонтально, как они расположены сейчас. Настя Бабкина говорит, что вы сейчас ей esports.mail.ru рисуете по той же схеме. На всякий случай прикладываю презентацию с ваерфреймами, чтобы было совсем понятно, о чём я говорю.						
						
					.infoblock
						a#schedule.infoblock__title.c-anchor(href="#" title="")
							|Расписание
						.entity
							.clearfix
								.entity__item.entity__item--wide
									.entity__item-head
										|Среда, 6 феврабля
										
									.entity__item-element.clearfix
										.entity__item-small
											|15:00
										.entity__item-middle
											a(href="" title="")
												|RuLegends
												span
													|vs
												|КомандаБ
									.entity__item-element.clearfix
										.entity__item-small
											|17:00
										.entity__item-middle
											a(href="" title="")
												|КомандаВ
												span
													|vs
												|КомандаЩ
									.entity__item-element.clearfix
										.entity__item-small
											|17:00
										.entity__item-middle
											a(href="" title="")
												|КомандаВ
												span
													|vs
												|КомандаB		
							//
								.clearfix
									.entity__item
										.entity__item-head
											|Вторник, 5 мартобря
											
										.entity__item-element.clearfix
											.entity__item-small
												|15:00
											.entity__item-middle
												a(href="" title="")
													|RuLegends
													span
														|vs
													|КомандаБ
										.entity__item-element.clearfix
											.entity__item-small
												|17:00
											.entity__item-middle
												a(href="" title="")
													|КомандаВ
													span
														|vs
													|КомандаЩ
												
									.entity__item
										.entity__item-head
											|Среда, 6 феврабля
											
										.entity__item-element.clearfix
											.entity__item-small
												|15:00
											.entity__item-middle
												a(href="" title="")
													|RuLegends
													span
														|vs
													|КомандаБ
										.entity__item-element.clearfix
											.entity__item-small
												|17:00
											.entity__item-middle
												a(href="" title="")
													|КомандаВ
													span
														|vs
													|КомандаЩ
									
								.clearfix
									.entity__item
										.entity__item-head
											|Среда, 6 феврабля
											
										.entity__item-element.clearfix
											.entity__item-small
												|15:00
											.entity__item-middle
												|RuLegends
												span
													|vs
												|КомандаБ
										.entity__item-element.clearfix
											.entity__item-small
												|17:00
											.entity__item-middle
												|КомандаВ
												span
													|vs
												|КомандаЩ
												
									.entity__item
										.entity__item-head
											|Среда, 6 феврабля
											
										.entity__item-element.clearfix
											.entity__item-small
												|15:00
											.entity__item-middle
												|RuLegends
												span
													|vs
												|КомандаБ
										.entity__item-element.clearfix
											.entity__item-small
												|17:00
											.entity__item-middle
												|КомандаВ
												span
													|vs
												|КомандаЩ
					.infoblock						
						a#grid.infoblock__title.c-anchor(href="#" title="")
							|Сетка
						.game-grid.clearfix.desktop
							.game-grid__stage.game-grid__stage--warface
								.game-grid__match
									.game-grid__comands
										span= "2"
										|Repulse
									.game-grid__comands
										span= "3"
										|DarkMatter darkMatter
									.game-grid__match-time
										|13:00
								.game-grid__match
									.game-grid__comands
										span= "2"
										|Repulse
									.game-grid__comands
										span= "3"
										|DarkMatter
									.game-grid__match-time
										|13:00										
								
							.game-grid__stage.game-grid__stage--warface
								.game-grid__match
									.game-grid__comands
										span= "2"										
									.game-grid__comands
										span= "3"
										|DarkMatter
									.game-grid__match-time
										|13:00										
							
							.game-grid__stage.game-grid__stage--warface								
						.mobile
							.clearfix
								.entity__item
									.entity__item-head
										|1/4 финала
										
									.entity__item-element.clearfix
										.entity__item-small
											|13:00
										.entity__item-middle
											|RuLegends
											span
												|vs
											|DarkMatter
									.entity__item-element.clearfix
										.entity__item-small
											|17:00
										.entity__item-middle
											|КомандаВ
											span
												|vs
											|DarkMatter
									.entity__item-element.clearfix
										.entity__item-small
											|13:00
										.entity__item-middle
											|RuLegends
											span
												|vs
											|DarkMatter
									.entity__item-element.clearfix
										.entity__item-small
											|17:00
										.entity__item-middle
											|КомандаВ
											span
												|vs
											|DarkMatter
								.entity__item
									.entity__item-head
										|1/2 финала
										
									.entity__item-element.clearfix
										.entity__item-small
											|13:00
										.entity__item-middle
											|RuLegends
											span
												|vs
											|DarkMatter
									.entity__item-element.clearfix
										.entity__item-small
											|17:00
										.entity__item-middle
											|КомандаВ
											span
												|vs
											|DarkMatter			
								.entity__item
									.entity__item-head
										|Финал
										
									.entity__item-element.emphasized.clearfix
										.entity__item-small
											|13:00
										.entity__item-middle
											|RuLegends
											span
												|vs
											|DarkMatter			
					.infoblock
						a#video.infoblock__title.c-anchor(href="#" title="")
							|Видео
						.video
							.desktop
								.clearfix
									.video__item
										a.video__source.c-link-video(href="" title="" data-src="https://www.youtube.com/embed/7dTh7k2zZoM?list=PLauCgjTLbfC_KikO5vsunzKxgZ0djCgZc")
											img(src="images/content/img9.jpg" alt="")										
										.video__name
											|RuLegends vs КомандаБ
									.video__item
										a.video__source.c-link-video(href="" title="" data-src="https://www.youtube.com/embed/l5svYKokJvE?list=PLauCgjTLbfC_KikO5vsunzKxgZ0djCgZc")
											img(src="images/content/img10.jpg" alt="")
										.video__name
											|RuLegends vs КомандаБ
									.video__item
										a.video__source.c-link-video(href="" title="" data-src="https://www.youtube.com/embed/8XPq_l7mwOI?list=PLauCgjTLbfC_KikO5vsunzKxgZ0djCgZc")
											img(src="images/content/img11.jpg" alt="")
										.video__name
											|RuLegends vs КомандаБ
								.clearfix
									.video__item
										a.video__source.c-link-video(href="" title="" data-src="https://www.youtube.com/embed/md8t8unjbh4?list=PLauCgjTLbfC_KikO5vsunzKxgZ0djCgZc")
											img(src="images/content/img9.jpg" alt="")
										.video__name
											|RuLegends vs КомандаБ
									.video__item
										a.video__source.c-link-video(href="" title="" data-src="https://www.youtube.com/embed/Kivj-HNMb9E?list=PLauCgjTLbfC_KikO5vsunzKxgZ0djCgZc")
											img(src="images/content/img11.jpg" alt="")
										.video__name
											|RuLegends vs КомандаБ
									.video__item
										a.video__source.c-link-video(href="" title="" data-src="https://www.youtube.com/embed/7dTh7k2zZoM?list=PLauCgjTLbfC_KikO5vsunzKxgZ0djCgZc")
											img(src="images/content/img9.jpg" alt="")
										.video__name
											|RuLegends vs КомандаБ
							.mobile
								.entity__item
									.entity__item-head
										|Сейчас онлайн
										
									.entity__item-element.clearfix
										.entity__item-small
											|этап
										.entity__item-middle
											|RuLegends
											span
												|vs
											|КомандаБ
											a.video__link.sprite.video-icon(href="" title="")
									.entity__item-element.clearfix
										.entity__item-small
											|этап
										.entity__item-middle
											|RuLegends
											span
												|vs
											|КомандаЩ
											a.video__link.sprite.video-icon(href="" title="")
								.entity__item
									.entity__item-head
										|Прошедшие матчи
										
									.entity__item-element.clearfix
										.entity__item-small
											|этап
										.entity__item-middle
											|RuLegends
											span
												|vs
											|КомандаБ
											a.video__link.sprite.video-icon(href="" title="")
									.entity__item-element.clearfix
										.entity__item-small
											|этап
										.entity__item-middle
											|RuLegends
											span
												|vs
											|КомандаЩ
											a.video__link.sprite.video-icon(href="" title="")			
								
							.clearfix
								a.btn(href="https://www.youtube.com/playlist?list=PLauCgjTLbfC_KikO5vsunzKxgZ0djCgZc" title="")= "Еще"
					.infoblock
						a#news.infoblock__title.c-anchor(href="#" title="")
							|Новости
						.news__item
							.news__item-heading
								|Открытие турнира
							.clearfix
								.news__item-img
									img(src="images/content/img1.jpg" alt="")
								.news__item-text.c-limited-text
									|UPD: на промке блоки надо будет расположить вертикально, а не горизонтально, как они расположены сейчас. Настя Бабкина говорит, что вы сейчас ей esports.mail.ru рисуете по той же схеме. На всякий случай прикладываю презентацию с ваерфреймами, чтобы было совсем понятно, о чём я говорю.
							a.absolute-link(href="" title="")
							
						.news__item
							.news__item-heading
								|Новость 64
							.clearfix
								.news__item-img
									img(src="images/content/img2.jpg" alt="")
								.news__item-text.c-limited-text
									|UPD: на промке блоки надо будет расположить вертикально, а не горизонтально, как они расположены сейчас. Настя Бабкина говорит, что вы сейчас ей esports.mail.ru рисуете по той же схеме. На всякий случай прикладываю презентацию с ваерфреймами, чтобы было совсем понятно, о чём я говорю.
							a.absolute-link(href="" title="")

						.news__item
							.news__item-heading
								|Новость 65
							.clearfix
								.news__item-img
									img(src="images/content/img2.jpg" alt="")
								.news__item-text.c-limited-text
									|UPD: на промке блоки надо будет расположить вертикально, а не горизонтально, как они расположены сейчас. Настя Бабкина говорит, что вы сейчас ей esports.mail.ru рисуете по той же схеме. На всякий случай прикладываю презентацию с ваерфреймами, чтобы было совсем понятно, о чём я говорю.
							a.absolute-link(href="" title="")
						.clearfix
								a.btn(href="https://wf.mail.ru/news" title="")= "Еще"	
							
					.infoblock
						a#comands.infoblock__title.infoblock__title--margin-big.c-anchor(href="#" title="")
							|Команды
							
						.commands.clearfix							
							.commands__item
								a(href="" title="")
									.commands__logo
										img(src="images/content/img7.jpg" alt="")
									br
									.commands__name
										|DarkMatter
							.commands__item
								a(href="" title="")
									.commands__logo
										img(src="images/content/img8.jpg" alt="")
									br
									.commands__name
										|DarkMatter Repulse Repulse DarkMatter Repulse Repulse
							.commands__item
								a(href="" title="")
									.commands__logo
										img(src="images/content/img3.jpg" alt="")
									br
									.commands__name
										|Repulse
							.commands__item
								a(href="" title="")
									.commands__logo
										img(src="images/content/img4.jpg" alt="")
									br
									.commands__name
										|DarkMatter							
					.infoblock						
						a#details.infoblock__title.infoblock__title--margin-big1.c-anchor(href="#" title="")
							|Подробности
						.details
							img(src="images/content/details1.jpg" alt="")
					.infoblock.infoblock--text
						.infoblock__sub-title2
							|Регламент Warface Masters League
							
						|Режим и Регламент проведения Warface Masters League
						ul
							li
								|1. Общая информация по турниру "Open Cup: Season 10".
							li
								|1.1. Версия игры: русскоязычная версия Warface.
							li
								|1.2. Все матчи Open Cup (далее “Турнир”) проходят в режиме "Подрыв".
							li
								|1.3. Команда состоит из 5 игроков основного состава, допускается добавление 2 игроков в качестве запасных.
							li
								span.group
									|1.4. Турнирные карты:
								
								span.group__item= "Переулки;"
								span.group__item= "D-17;"
								span.group__item= "Мосты;"
								span.group__item= "Фабрика;"
								span.group__item= "Окраина;"
								span.group__item= "Пункт назначения;"
								span.group__item= "Дворец."
								
							li
								span.group
									|1.5. К участию в Турнире допускаются игроки старше 14 лет, достигшие 30-го уровня в игре, имеющие гражданство следующих стран:
								
								span.group__item= "Российская Федерация;"
								span.group__item= "Армения;"
								span.group__item= "Абхазия;"
								span.group__item= "Азербайджан;"
								span.group__item= "Беларусь;"
								span.group__item= "Эстония;"
								span.group__item= "Грузия;"
								span.group__item= "Казахстан;"
								span.group__item= "Киргизия;"
								span.group__item= "Латвия;"
								span.group__item= "Литва;"
								span.group__item= "Молдова;"
								span.group__item= "Таджикистан;"
								span.group__item= "Туркменистан;"
								span.group__item= "Украина;"
								span.group__item= "Узбекистан;"
								span.group__item= "Южная Осетия."
							li
								|1.6. При регистрации каждый участник команды должен предоставить цифровую копию (сканирование, фотография) своего паспорта, в противном случае команда не будет допущена до Турнира.
							li
								|1.7. На цифровой копии должны быть видны фотография, ФИО, полная дата рождения, гражданство, серия и номер паспорта. Размер изображения — не менее 500 на 500 пикселей, но не более 1000 на 1000 пикселей.
							li
								|1.8. Все данные должны быть читаемыми.
							li
								|1.9. Команда и/или игрок могут участвовать только в одном этапе Турнира одновременно: Masters League или одном из Challenge Cup (процесс регистрации может происходить в формате одного этапа Турнира на pvp.mail.ru).
							li
								|1.10. В случае если на момент завершения регистрации игрок заблокирован на основном сервере или если при проверке выяснилось, что он намеренно предоставил некорректную копию документа (сторонние изображения), организаторы оставляют за собой право удалить такого игрока из состава команды. Если после этого в команде остается 5 или более игроков, она продолжает участие, в противном случае снимается с Турнира.
							li
								|1.11. Аккаунт, на котором до начала Турнира была зафиксирована подозрительная активность, не допускается к участию на турнирах серии Open Cup (включая Masters League и Challenge Cup). Фиксированных сроков запрета на участие в турнирах нет. В случае, если с учетной записи снимаются подозрения, владелец аккаунта уведомляется об этом отдельно.
							li 
								|1.12. Вопросы оформления виз (при необходимости) решаются игроками самостоятельно.
								
						
					.infoblock.infoblock--social
						a.social__link.tw(href=" https://twitter.com/OfficialWarface" title="Tweet")
						a.social__link.fb(href="https://www.facebook.com/warfaceru" title="Facebook")
						a.social__link.vk(href="https://vk.com/warface_game" title="Vkontakte")
						a.social__link.ok(href="https://ok.ru/warfacemailru" title="Odnoklassniki")
						
						
					.infoblock.infoblock--footer
						a.logos__link.sprite.crytek(href="http://crytek.com/" title="")
						a.logos__link.sprite.cryengine(href="#" title="")
						a.logos__link.sprite.mail(href="https://mail.ru/" title="")
			include ./blocks/footer.jade

static/warface.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width" name="viewport">
    <meta name="description" content="">
    <title>Список страниц</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="./js/jquery-1.11.3.min.js"></script>
  </head>
  <body>
    <div class="pagewrap"><!-- BEGIN header -->
      <header class="clearfix">
        <div class="container">		<a href="" title="" class="menu mobile c-mobile-menu-link"><span class="sprite menu-btn"></span>Меню</a>
          <nav class="nav c-mobile-menu"><a href="#schedule" title="" class="nav__link c-link-anchor">Расписание</a><a href="#grid" title="" class="nav__link c-link-anchor">Сетка</a><a href="#video" title="" class="nav__link active c-link-anchor">Видео</a><a href="#news" title="" class="nav__link c-link-anchor">Новости</a><a href="#comands" title="" class="nav__link c-link-anchor">Команды</a><a href="#details" title="" class="nav__link c-link-anchor">Подробности</a></nav>
        </div>
      </header><!-- END header -->
      <div class="content">
        <div class="content__bg top">
          <div class="mobile"><img src="images/content/warface1.png" alt=""></div>
        </div>
        <div class="content__bg middle desktop"></div>
        <div class="content__bg bottom desktop"></div><a href="https://wf.mail.ru/" title="" class="logo"><img src="images/warface-logo.png" alt=""></a>
        <div class="container">
          <div class="main-video desktop c-video">
            <iframe width="886" height="498" src="https://www.youtube.com/embed/3f53Ch6s7iY" allowfullscreen></iframe>
          </div>
          <div class="infoblock infoblock--text">
            <div class="infoblock__sub-title">Гранд-финал Warface Open Cup:<br><span>ArenaStars vs DNOgaming</span></div>
            <!--		
            .infoblock__sub-title1
            	|Описание турнира
            
            |UPD: на промке блоки надо будет расположить вертикально, а не горизонтально, как они расположены сейчас. Настя Бабкина говорит, что вы сейчас ей esports.mail.ru рисуете по той же схеме. На всякий случай прикладываю презентацию с ваерфреймами, чтобы было совсем понятно, о чём я говорю.						
            
            -->
          </div>
          <div class="infoblock"><a id="schedule" href="#" title="" class="infoblock__title c-anchor">Расписание</a>
            <div class="entity">
              <div class="clearfix">
                <div class="entity__item entity__item--wide">
                  <div class="entity__item-head">Среда, 6 феврабля</div>
                  <div class="entity__item-element clearfix">
                    <div class="entity__item-small">15:00</div>
                    <div class="entity__item-middle"><a href="" title="">RuLegends<span>vs</span>КомандаБ</a></div>
                  </div>
                  <div class="entity__item-element clearfix">
                    <div class="entity__item-small">17:00</div>
                    <div class="entity__item-middle"><a href="" title="">КомандаВ<span>vs</span>КомандаЩ</a></div>
                  </div>
                  <div class="entity__item-element clearfix">
                    <div class="entity__item-small">17:00</div>
                    <div class="entity__item-middle"><a href="" title="">КомандаВ<span>vs</span>КомандаB		</a></div>
                  </div>
                </div>
              </div>
              <!--
              .clearfix
              	.entity__item
              		.entity__item-head
              			|Вторник, 5 мартобря
              			
              		.entity__item-element.clearfix
              			.entity__item-small
              				|15:00
              			.entity__item-middle
              				a(href="" title="")
              					|RuLegends
              					span
              						|vs
              					|КомандаБ
              		.entity__item-element.clearfix
              			.entity__item-small
              				|17:00
              			.entity__item-middle
              				a(href="" title="")
              					|КомандаВ
              					span
              						|vs
              					|КомандаЩ
              				
              	.entity__item
              		.entity__item-head
              			|Среда, 6 феврабля
              			
              		.entity__item-element.clearfix
              			.entity__item-small
              				|15:00
              			.entity__item-middle
              				a(href="" title="")
              					|RuLegends
              					span
              						|vs
              					|КомандаБ
              		.entity__item-element.clearfix
              			.entity__item-small
              				|17:00
              			.entity__item-middle
              				a(href="" title="")
              					|КомандаВ
              					span
              						|vs
              					|КомандаЩ
              	
              .clearfix
              	.entity__item
              		.entity__item-head
              			|Среда, 6 феврабля
              			
              		.entity__item-element.clearfix
              			.entity__item-small
              				|15:00
              			.entity__item-middle
              				|RuLegends
              				span
              					|vs
              				|КомандаБ
              		.entity__item-element.clearfix
              			.entity__item-small
              				|17:00
              			.entity__item-middle
              				|КомандаВ
              				span
              					|vs
              				|КомандаЩ
              				
              	.entity__item
              		.entity__item-head
              			|Среда, 6 феврабля
              			
              		.entity__item-element.clearfix
              			.entity__item-small
              				|15:00
              			.entity__item-middle
              				|RuLegends
              				span
              					|vs
              				|КомандаБ
              		.entity__item-element.clearfix
              			.entity__item-small
              				|17:00
              			.entity__item-middle
              				|КомандаВ
              				span
              					|vs
              				|КомандаЩ
              -->
            </div>
          </div>
          <div class="infoblock">						<a id="grid" href="#" title="" class="infoblock__title c-anchor">Сетка</a>
            <div class="game-grid clearfix desktop">
              <div class="game-grid__stage game-grid__stage--warface">
                <div class="game-grid__match">
                  <div class="game-grid__comands"><span>2</span>Repulse</div>
                  <div class="game-grid__comands"><span>3</span>DarkMatter darkMatter</div>
                  <div class="game-grid__match-time">13:00</div>
                </div>
                <div class="game-grid__match">
                  <div class="game-grid__comands"><span>2</span>Repulse</div>
                  <div class="game-grid__comands"><span>3</span>DarkMatter</div>
                  <div class="game-grid__match-time">13:00										</div>
                </div>
              </div>
              <div class="game-grid__stage game-grid__stage--warface">
                <div class="game-grid__match">
                  <div class="game-grid__comands"><span>2</span></div>
                  <div class="game-grid__comands"><span>3</span>DarkMatter</div>
                  <div class="game-grid__match-time">13:00										</div>
                </div>
              </div>
              <div class="game-grid__stage game-grid__stage--warface">								</div>
            </div>
            <div class="mobile">
              <div class="clearfix">
                <div class="entity__item">
                  <div class="entity__item-head">1/4 финала</div>
                  <div class="entity__item-element clearfix">
                    <div class="entity__item-small">13:00</div>
                    <div class="entity__item-middle">RuLegends<span>vs</span>DarkMatter</div>
                  </div>
                  <div class="entity__item-element clearfix">
                    <div class="entity__item-small">17:00</div>
                    <div class="entity__item-middle">КомандаВ<span>vs</span>DarkMatter</div>
                  </div>
                  <div class="entity__item-element clearfix">
                    <div class="entity__item-small">13:00</div>
                    <div class="entity__item-middle">RuLegends<span>vs</span>DarkMatter</div>
                  </div>
                  <div class="entity__item-element clearfix">
                    <div class="entity__item-small">17:00</div>
                    <div class="entity__item-middle">КомандаВ<span>vs</span>DarkMatter</div>
                  </div>
                </div>
                <div class="entity__item">
                  <div class="entity__item-head">1/2 финала</div>
                  <div class="entity__item-element clearfix">
                    <div class="entity__item-small">13:00</div>
                    <div class="entity__item-middle">RuLegends<span>vs</span>DarkMatter</div>
                  </div>
                  <div class="entity__item-element clearfix">
                    <div class="entity__item-small">17:00</div>
                    <div class="entity__item-middle">КомандаВ<span>vs</span>DarkMatter			</div>
                  </div>
                </div>
                <div class="entity__item">
                  <div class="entity__item-head">Финал</div>
                  <div class="entity__item-element emphasized clearfix">
                    <div class="entity__item-small">13:00</div>
                    <div class="entity__item-middle">RuLegends<span>vs</span>DarkMatter			</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="infoblock"><a id="video" href="#" title="" class="infoblock__title c-anchor">Видео</a>
            <div class="video">
              <div class="desktop">
                <div class="clearfix">
                  <div class="video__item"><a href="" title="" data-src="https://www.youtube.com/embed/7dTh7k2zZoM?list=PLauCgjTLbfC_KikO5vsunzKxgZ0djCgZc" class="video__source c-link-video"><img src="images/content/img9.jpg" alt=""></a>
                    <div class="video__name">RuLegends vs КомандаБ</div>
                  </div>
                  <div class="video__item"><a href="" title="" data-src="https://www.youtube.com/embed/l5svYKokJvE?list=PLauCgjTLbfC_KikO5vsunzKxgZ0djCgZc" class="video__source c-link-video"><img src="images/content/img10.jpg" alt=""></a>
                    <div class="video__name">RuLegends vs КомандаБ</div>
                  </div>
                  <div class="video__item"><a href="" title="" data-src="https://www.youtube.com/embed/8XPq_l7mwOI?list=PLauCgjTLbfC_KikO5vsunzKxgZ0djCgZc" class="video__source c-link-video"><img src="images/content/img11.jpg" alt=""></a>
                    <div class="video__name">RuLegends vs КомандаБ</div>
                  </div>
                </div>
                <div class="clearfix">
                  <div class="video__item"><a href="" title="" data-src="https://www.youtube.com/embed/md8t8unjbh4?list=PLauCgjTLbfC_KikO5vsunzKxgZ0djCgZc" class="video__source c-link-video"><img src="images/content/img9.jpg" alt=""></a>
                    <div class="video__name">RuLegends vs КомандаБ</div>
                  </div>
                  <div class="video__item"><a href="" title="" data-src="https://www.youtube.com/embed/Kivj-HNMb9E?list=PLauCgjTLbfC_KikO5vsunzKxgZ0djCgZc" class="video__source c-link-video"><img src="images/content/img11.jpg" alt=""></a>
                    <div class="video__name">RuLegends vs КомандаБ</div>
                  </div>
                  <div class="video__item"><a href="" title="" data-src="https://www.youtube.com/embed/7dTh7k2zZoM?list=PLauCgjTLbfC_KikO5vsunzKxgZ0djCgZc" class="video__source c-link-video"><img src="images/content/img9.jpg" alt=""></a>
                    <div class="video__name">RuLegends vs КомандаБ</div>
                  </div>
                </div>
              </div>
              <div class="mobile">
                <div class="entity__item">
                  <div class="entity__item-head">Сейчас онлайн</div>
                  <div class="entity__item-element clearfix">
                    <div class="entity__item-small">этап</div>
                    <div class="entity__item-middle">RuLegends<span>vs</span>КомандаБ<a href="" title="" class="video__link sprite video-icon"></a></div>
                  </div>
                  <div class="entity__item-element clearfix">
                    <div class="entity__item-small">этап</div>
                    <div class="entity__item-middle">RuLegends<span>vs</span>КомандаЩ<a href="" title="" class="video__link sprite video-icon"></a></div>
                  </div>
                </div>
                <div class="entity__item">
                  <div class="entity__item-head">Прошедшие матчи</div>
                  <div class="entity__item-element clearfix">
                    <div class="entity__item-small">этап</div>
                    <div class="entity__item-middle">RuLegends<span>vs</span>КомандаБ<a href="" title="" class="video__link sprite video-icon"></a></div>
                  </div>
                  <div class="entity__item-element clearfix">
                    <div class="entity__item-small">этап</div>
                    <div class="entity__item-middle">RuLegends<span>vs</span>КомандаЩ<a href="" title="" class="video__link sprite video-icon">			</a></div>
                  </div>
                </div>
              </div>
              <div class="clearfix"><a href="https://www.youtube.com/playlist?list=PLauCgjTLbfC_KikO5vsunzKxgZ0djCgZc" title="" class="btn">Еще</a></div>
            </div>
          </div>
          <div class="infoblock"><a id="news" href="#" title="" class="infoblock__title c-anchor">Новости</a>
            <div class="news__item">
              <div class="news__item-heading">Открытие турнира</div>
              <div class="clearfix">
                <div class="news__item-img"><img src="images/content/img1.jpg" alt=""></div>
                <div class="news__item-text c-limited-text">UPD: на промке блоки надо будет расположить вертикально, а не горизонтально, как они расположены сейчас. Настя Бабкина говорит, что вы сейчас ей esports.mail.ru рисуете по той же схеме. На всякий случай прикладываю презентацию с ваерфреймами, чтобы было совсем понятно, о чём я говорю.</div>
              </div><a href="" title="" class="absolute-link"></a>
            </div>
            <div class="news__item">
              <div class="news__item-heading">Новость 64</div>
              <div class="clearfix">
                <div class="news__item-img"><img src="images/content/img2.jpg" alt=""></div>
                <div class="news__item-text c-limited-text">UPD: на промке блоки надо будет расположить вертикально, а не горизонтально, как они расположены сейчас. Настя Бабкина говорит, что вы сейчас ей esports.mail.ru рисуете по той же схеме. На всякий случай прикладываю презентацию с ваерфреймами, чтобы было совсем понятно, о чём я говорю.</div>
              </div><a href="" title="" class="absolute-link"></a>
            </div>
            <div class="news__item">
              <div class="news__item-heading">Новость 65</div>
              <div class="clearfix">
                <div class="news__item-img"><img src="images/content/img2.jpg" alt=""></div>
                <div class="news__item-text c-limited-text">UPD: на промке блоки надо будет расположить вертикально, а не горизонтально, как они расположены сейчас. Настя Бабкина говорит, что вы сейчас ей esports.mail.ru рисуете по той же схеме. На всякий случай прикладываю презентацию с ваерфреймами, чтобы было совсем понятно, о чём я говорю.</div>
              </div><a href="" title="" class="absolute-link"></a>
            </div>
            <div class="clearfix"><a href="https://wf.mail.ru/news" title="" class="btn">Еще</a></div>
          </div>
          <div class="infoblock"><a id="comands" href="#" title="" class="infoblock__title infoblock__title--margin-big c-anchor">Команды</a>
            <div class="commands clearfix">							
              <div class="commands__item"><a href="" title="">
                  <div class="commands__logo"><img src="images/content/img7.jpg" alt=""></div><br>
                  <div class="commands__name">DarkMatter</div></a></div>
              <div class="commands__item"><a href="" title="">
                  <div class="commands__logo"><img src="images/content/img8.jpg" alt=""></div><br>
                  <div class="commands__name">DarkMatter Repulse Repulse DarkMatter Repulse Repulse</div></a></div>
              <div class="commands__item"><a href="" title="">
                  <div class="commands__logo"><img src="images/content/img3.jpg" alt=""></div><br>
                  <div class="commands__name">Repulse</div></a></div>
              <div class="commands__item"><a href="" title="">
                  <div class="commands__logo"><img src="images/content/img4.jpg" alt=""></div><br>
                  <div class="commands__name">DarkMatter							</div></a></div>
            </div>
          </div>
          <div class="infoblock">						<a id="details" href="#" title="" class="infoblock__title infoblock__title--margin-big1 c-anchor">Подробности</a>
            <div class="details"><img src="images/content/details1.jpg" alt=""></div>
          </div>
          <div class="infoblock infoblock--text">
            <div class="infoblock__sub-title2">Регламент Warface Masters League</div>Режим и Регламент проведения Warface Masters League
            <ul>
              <li>1. Общая информация по турниру "Open Cup: Season 10".</li>
              <li>1.1. Версия игры: русскоязычная версия Warface.</li>
              <li>1.2. Все матчи Open Cup (далее “Турнир”) проходят в режиме "Подрыв".</li>
              <li>1.3. Команда состоит из 5 игроков основного состава, допускается добавление 2 игроков в качестве запасных.</li>
              <li><span class="group">1.4. Турнирные карты:</span><span class="group__item">Переулки;</span><span class="group__item">D-17;</span><span class="group__item">Мосты;</span><span class="group__item">Фабрика;</span><span class="group__item">Окраина;</span><span class="group__item">Пункт назначения;</span><span class="group__item">Дворец.</span></li>
              <li><span class="group">1.5. К участию в Турнире допускаются игроки старше 14 лет, достигшие 30-го уровня в игре, имеющие гражданство следующих стран:</span><span class="group__item">Российская Федерация;</span><span class="group__item">Армения;</span><span class="group__item">Абхазия;</span><span class="group__item">Азербайджан;</span><span class="group__item">Беларусь;</span><span class="group__item">Эстония;</span><span class="group__item">Грузия;</span><span class="group__item">Казахстан;</span><span class="group__item">Киргизия;</span><span class="group__item">Латвия;</span><span class="group__item">Литва;</span><span class="group__item">Молдова;</span><span class="group__item">Таджикистан;</span><span class="group__item">Туркменистан;</span><span class="group__item">Украина;</span><span class="group__item">Узбекистан;</span><span class="group__item">Южная Осетия.</span></li>
              <li>1.6. При регистрации каждый участник команды должен предоставить цифровую копию (сканирование, фотография) своего паспорта, в противном случае команда не будет допущена до Турнира.</li>
              <li>1.7. На цифровой копии должны быть видны фотография, ФИО, полная дата рождения, гражданство, серия и номер паспорта. Размер изображения — не менее 500 на 500 пикселей, но не более 1000 на 1000 пикселей.</li>
              <li>1.8. Все данные должны быть читаемыми.</li>
              <li>1.9. Команда и/или игрок могут участвовать только в одном этапе Турнира одновременно: Masters League или одном из Challenge Cup (процесс регистрации может происходить в формате одного этапа Турнира на pvp.mail.ru).</li>
              <li>1.10. В случае если на момент завершения регистрации игрок заблокирован на основном сервере или если при проверке выяснилось, что он намеренно предоставил некорректную копию документа (сторонние изображения), организаторы оставляют за собой право удалить такого игрока из состава команды. Если после этого в команде остается 5 или более игроков, она продолжает участие, в противном случае снимается с Турнира.</li>
              <li>1.11. Аккаунт, на котором до начала Турнира была зафиксирована подозрительная активность, не допускается к участию на турнирах серии Open Cup (включая Masters League и Challenge Cup). Фиксированных сроков запрета на участие в турнирах нет. В случае, если с учетной записи снимаются подозрения, владелец аккаунта уведомляется об этом отдельно.</li>
              <li>
                 
                1.12. Вопросы оформления виз (при необходимости) решаются игроками самостоятельно.
              </li>
            </ul>
          </div>
          <div class="infoblock infoblock--social"><a href=" https://twitter.com/OfficialWarface" title="Tweet" class="social__link tw"></a><a href="https://www.facebook.com/warfaceru" title="Facebook" class="social__link fb"></a><a href="https://vk.com/warface_game" title="Vkontakte" class="social__link vk"></a><a href="https://ok.ru/warfacemailru" title="Odnoklassniki" class="social__link ok"></a></div>
          <div class="infoblock infoblock--footer"><a href="http://crytek.com/" title="" class="logos__link sprite crytek"></a><a href="#" title="" class="logos__link sprite cryengine"></a><a href="https://mail.ru/" title="" class="logos__link sprite mail"></a></div>
        </div>
      </div><!-- BEGIN footer -->
      <footer class="footer"></footer>
      <script src="./js/script.js"></script>
    </div>
  </body>
</html>
